/* MAIN STYLESHEET for STUDENT: Iman's thesis */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Source Sans Pro", Verdana, Arial, sans-serif;
  color: #1a1a1a;
  overflow-x: hidden;
  line-height: 110%;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #5a5050;
}

  a:hover {
    background-color: rgba(120, 144, 156, 0.15);
  }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  line-height: 120%;
  margin: 0.5em 1.25em;
}

/* HEADER STYLES */
header {
  background-color: #5a5050;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .logo {
    color: #fff; /* temporary? */
    width: 25%;
    display: flex;
    justify-content: center;
  }

  nav {
    display: block;
    text-align: center;
    width: 75%;
    height: 100%;
  }

  .navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

    .navigation li {
      flex-basis: 50%;
    }

    .navigation li a {
      display: block;
      color: #fff;
      padding: 1.2em;
      width: 100%;
    }

    .navigation li a:hover,
    .navigation li a.active {
      background-color: rgba(120, 144, 156, 0.15);
    }

main {
  width: 100%;
  padding: 1em 2em;
  min-height: calc(100vh - 3.5em);
  display: flex;
}

.center {
  flex-direction: column;
  align-items: center;
  align-content: center;
}
  /* FOR INDEX */
  #main {
    width: 75%;
    margin: 0 auto;
  }

    #main .heading {
      font-size: 1.75em;
    }

    #main p {
      text-align: center;
      width: 60%;
      line-height: 125%;
      margin-bottom: 1em;
    }

  #banner {
    width: 100%;
  }

  .buttons {
    width: 50%;
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
  }

    #test-start .buttons {
      width: 20%;
    }

    .button {
      padding: 0.75em;
      background-color: #43aca7;
      border-radius: 0.25em;
      color: #fff;
      transition: 200ms;
    }

      #main .buttons .button {
        font-size: 1.25em;
      }

      #test-start .buttons .button {
        padding: 0.75em 1.5em;
      }

      .button:hover {
        background-color: #a2d4aa;
        text-decoration: none;
        transition: 200ms;
      }

      .button:active {color: #1a1a1a;}

  /* FOR FORMS */
  .form-block {
    width: 50%;
    padding-bottom: 1em;
    background-color: #eceff1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .form-block > * {
      text-align: center;
      margin-bottom: 0.25em;
    }

    #contact-counselor-form h1 {
      background-color: #5a5050;
      width: 100%;
      margin: 0;
      padding: 0.5em;
      color: #fff;
    }

    .form-block p {
      width: 50%;
    }

    .form-block label {
      display: block;
      width: 100%;
      font-weight: bold;
      margin: 0 auto;
    }

    .form-block input[type=text],
    .form-block textarea {
      width: 100%;
      border: none;
      padding: 1em;
      background-color: transparent;
      border-bottom: 1px solid #a1a1a1;
      transition: background-color 400ms ease;
    }

      .form-block input[type=text]:focus,
      .form-block textarea:focus {
        outline: none;
        background-color: #fff;
        transition: background-color 400ms ease;
      }

    .form-block input[type=date] {
      width: 85%;
    }

    .form-block input[type=submit] {
      margin-top: 1em;
      margin-right: 1em;
      padding: 0.25em 0.75em;
      background-color: #43aca7;
      border: none transparent;
      color: #fff;
      font-size: 1.25em;
      cursor: pointer;
      align-self: flex-end;
      border-radius: 0.25em;
      transition: 200ms;
    }

    .form-block input[type="submit"]:hover {
      background-color: #a2d4aa;
      text-decoration: none;
      transition: 200ms;
    }

    .form-block input[type="submit"]:active {color: #1a1a1a;}


  /* FOR NEW STUDENT LOGIN PAGE */
  #new-student {
    width: 75%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #new-student-login .form-block {
    background-color: transparent;
  }

    #new-student > .labeled-field {
      width: 40%;
      margin: 1em;
    }

    #new-student input:not([type=submit]),
    #old-student-login input[type=text] {
      margin: 0.5em;
      padding: 0.5em;
      background-color: #eceff1;
      border: none;
      border-bottom: 1px solid transparent;
      width: 100%;
      transition: border-bottom 200ms;
    }

      #new-student input:not([type=submit]):focus,
      #old-student-login input[type=text] {
        outline: none;
        border-bottom: 1px solid #a1a1a1;
        transition: border-bottom 200ms;
      }

  /* FOR OLD STUDENT PAGE */
  #old-student-login input[type=text] {
    width: 15%;
  }

  #old-student-login .buttons {
    width: 30%;
  }

  /* FOR CONTACT COUNSELOR PAGE */
  #contact-counselor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* FOR TEST QUESTIONS (STUDENT) */
  #pre-test {
    width: 50%;
    margin: 0 auto;
  }

  #test-questions {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

    #test-questions #test-question-number {
      background-color: #5a5050;
      color: #fff;
      padding: 1em 0.6em;
      margin: 1em 0.25em;
      font-size: 5em;
      border-radius: 50%;
    }

    #test-choices {
      display: block;
      flex-basis: 75%;
    }

      #test-choices .test-choice {
        display: block;
        margin: 1em 0;
        text-align: center;
        cursor: pointer;
      }