/* MAIN STYLESHEET for STUDENT: Iman's thesis */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

  a:hover {
    text-decoration: underline;
  }

/* TEMP STYLES */
.placeholder {
  background-color: #fff;
}

  .placeholder.square.big {
    width: 5em;
    height: 5em;
  }

  .placeholder.square.mid {
    width: 2.5em;
    height: 2.5em;
  }

  .placeholder.square.small {
    width: 1em;
    height: 1em;
  }

  .placeholder.rectangle {
    background-color: blue;
  }

  .placeholder.rectangle.mid {
    width: 20em;
    height: 17em;
  }

  .placeholder.rectangle.big {
    width: 25em;
    height: 20em;
  }

body {
  background-color: #547980;
  font-family: Verdana, Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
  align-content: center;
}
  /* FOR INDEX */
  #main {
    flex-wrap: wrap;
  }

  .full {
    width: 100%;
  }
    #main .full {
      margin-bottom: 7.5em;
    }

    #main .full > * {
      margin: 0.5em auto;
    }

  .half {
    width: 50%;
  }

    #main .full,
    #main .half {
      padding: 2em;
      text-align: center;
    }

  .heading {
    text-align: center;
    margin: 0 auto;
  }

  .button {
    margin-top: 1em;
    padding: 5px 25px;
    background-color: #43aca7;
    border: none transparent;
    color: #fff;
    font-size: 1.25em;
  }

    .button:hover {background-color: #a2d4aa;text-decoration: none;}
    .button:active {color: #1a1a1a;}

  nav {
    margin-top: 7.5em;
  }

  /* FOR LOGIN PAGE */
  .login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .login > * {
      text-align: center;
      margin-bottom: 0.25em;
    }

    .login p {
      width: 50%;
    }

    .login label {
      display: block;
      width: 100%;
      font-weight: bold;
      margin: 0 auto;
    }

    .login input[type="submit"] {
      margin-top: 10px;
      padding: 5px 25px;
      background-color: #43aca7;
      border: none transparent;
      color: #fff;
      font-size: 1.25em;
    }

    .login input[type="submit"]:hover {background-color: #a2d4aa;text-decoration: none;}
    .login input[type="submit"]:active {color: #1a1a1a;}

  #student-test {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

    #student-test .top {
      flex-basis: 100%;
      margin: 10px auto;
    }

    #student-test .column {
      width: 50%;
    }

      #student-test .column > input {
        margin: 5px auto;
      }

  /* FOR ABOUT PAGE */
  #about {
    flex-direction: column;
  }

    #about > * {
      width: 70%;
      text-align: center;
      margin: 0.5em auto;
    }