/* MAIN STYLESHEET for GUIDANCE: Iman's thesis */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TEMP STYLES */
.placeholder {
  background-color: #fff;
}

  .placeholder.square.big {
    width: 5em;
    height: 5em;
  }

  .placeholder.square.mid {
    width: 2.5em;
    height: 2.5em;
  }

  .placeholder.square.small {
    width: 1em;
    height: 1em;
  }

  .placeholder.rectangle {
    background-color: blue;
  }

  .placeholder.rectangle.mid {
    width: 20em;
    height: 17em;
  }

  .placeholder.rectangle.big {
    width: 25em;
    height: 20em;
  }

  .placeholder.circle.big {
    width: 5em;
    height: 5em;
    border-radius: 50%;
  }

  .placeholder.circle.mid {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
  }

  .placeholder.circle.small {
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

body {
  background-color: #fff;
  font-family: "Source Sans Pro", Verdana, Arial, sans-serif;
  color: #1a1a1a;
  overflow-x: hidden;
  line-height: 110%;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #5a5050;
}

  a:hover {
    background-color: rgba(120, 144, 156, 0.15);
  }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  line-height: 120%;
  margin: 0.5em 1.25em;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* sidebar styles */
#sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: #5a5050;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
  #top {}

    #logo {
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 2em;
    }

      #logo h1 {
        margin: 0.5em;
      }

    #counselor-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

      #counselor-pic {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background: url('../img/counselor.jpg') no-repeat center;
        background-size: cover;
        margin: 1em;
      }

      #counselor-name {
        color: #43aca7;
      }

  nav {
    width: 100%;
    margin-top: 4em;
  }

    #side-nav {
      list-style-type: none;
    }

      .nav-item {
        width: 100%;
      }

        .nav-item a {
          display: block;
          width: 100%;
          padding: 1em;
          color: #fff;
        }

          .nav-item.active {
            background-color: rgba(120, 144, 156, 0.15);
          }

          .nav-item .fa { /* icon style override */
            color: #43aca7;
            margin-right: 1em;
          }

          .nav-item .notif-num {
            position: absolute;
            right: 2em;
            width: 2em;
            padding: 0.15em 0.4em;
            background-color: #43aca7;
            text-align: center;
            border-radius: 1.3em;
          }

/* MAIN STYLES */
#main {
  width: 80%;
  margin-left: 20%;
  min-height: 100vh;
  position: relative;
}

  #search {
    position: relative;
    width: 100%;
  }

    #search .fa-search {
      position: absolute;
      top: 0.75em;
      left: 1em;
      color: #aaa;
    }

    #search input[type=text] {
      width: 100%;
      border: none;
      background-color: #eceff1;
      padding: 1em;
      text-indent: 28px;
    }

  #urgency-status {
    width: 100%;
    list-style-type: none;
  }

    #urgency-status li {
      display: inline-block;
      margin: 1em 0.5em;
    }

      #urgency-status .status-item {
        display: block;
        padding: 0.5em 1em;
        background-color: #eceff1;
        color: #7e919a;
        border-radius: 1em;
      }

        #urgency-status .status-item:hover,
        #urgency-status .status-item.active {
          color: #fff;
          background-color: #44ada8;
        }

  table {
    width: 100%;
  }

  #database {
    color: #7e919a;
  }

    #database thead th {
      padding: 1em;
    }
    
      #database thead th .fa {
        color: #7e919a;
      }

    #database tbody {
      background-color: #eceff1;
    }

      #database td {
        padding: 1em;
        text-align: center;
        cursor: pointer;
      }

      #database .student-name {
        display: flex;
        align-items: center;
      }

        .urgency {
          margin-left: 2em;
          margin-right: 1em;
          width: 2.5em;
          height: 2.5em;
          border-radius: 50%;
        }

          .urgency.urgent {background-color: #ed1c24;}
          .urgency.serious {background-color: #f7941d;}
          .urgency.normal {background-color: #00a651;}

  #messages {}

    .email {
      background-color: #eceff1;
      cursor: pointer;
    }

      .email.new {
        background-color: #fff;
      }
    
    .email > td {
      padding: 1em;
    }

      .email-subject {
        font-weight: bold;
      }

      .email-preview {
        color: #7e919a;
        margin-left: 0.5em;
      }

  #show-message {
    width: 100%;
    position: absolute;
    top: 6.6em;
    background-color: #eceff1;
    height: calc(100vh - 6.6em);
    display: none;
  }

    #show-message .subject {
      background-color: #5a5050;
      padding: 0.5em 1em;
      margin: 0;
      color: #fff;
    }

    #show-message input[name="sender"],
    #show-message input[name="receiver"],
    #show-message input[name="subject"] {
      width: 100%;
      padding: 0.75em;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #5a5050;
    }

    #show-message input[name="date"] {
      background-color: transparent;
      padding: 0.75em;
      border: none;
      position: absolute;
      top: 4em;
      right: 0;
      z-index: 2;
    }

    #show-message textarea {
      width: 100%;
      padding: 0.75em;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #5a5050;
    }

    .buttons {
      width: 60%;
      margin-top: 1em;
    }

    .buttons .button {
      display: inline-block;
      padding: 0.5em 1em;
      margin: 0 0.5em;
      background-color: #44ada8;
      color: #fff;
      border-radius: 1em;
    }

      .buttons .button:hover {
        background-color: #6CC6C1;
      }

  #student-preview {
    width: 100%;
    min-height: 50vh;
    display: none;
    position: absolute;
    /*top: 14.5em;*/
    background-color: #eceff1;
    border-top: 2px solid #5a5050;
  }

    #student-sidebar {
      display: flex;
      width: 20%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

      #student-sidebar > .fa {
        font-size: 2.25em;
        color: #7e919a;
        cursor: pointer;
      }

        #student-sidebar > .fa:hover {
          color: #43ACA7;
        }

    #sessions {
      display: block;
      width: 100%;
    }

      #sessions .session {
        padding: 1em;
        width: 100%;
        cursor: pointer;
      }

        #sessions .session > .fa {
          margin-right: 0.5em;
        }

        #sessions .session.selected,
        #sessions .session:hover {
          padding: 1em;
          width: 100%;
          background-color: rgba(120, 144, 156, 0.15);
          cursor: pointer;
        }

          #sessions .session.selected > .fa {
            color: #43aca7;
          }

    #student-area {
      background-color: #fff;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

      #student-area > * {
        margin: 0.5em 0;
      }

      .labeled-field {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

        .labeled-field label {
          flex-basis: 100%;
          text-align: center;
          font-weight: bold;
          color: #5a5050;
        }

          .labeled-field input,
          .labeled-field select {
            width: 50%;
            margin: 0 auto;
            background-color: #eceff1;
            border: none;
            text-align: center;
            padding: 0.25em;
          }

          #urgency-select {
            width: auto;
          }

      #student-area .buttons {
        width: 90%;
      }

        #student-area .buttons .button {
          position: absolute;
          right: 2em;
          bottom: 1em;
        }